{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="frontpage-text">
		<p>Markovstuck is a site inspired by <a href="https://www.reddit.com/r/subredditsimulator">/r/subredditsimulator</a> and <a href="http://www.headlinesmasher.com/">Headline Smasher</a> that generates Homestuck pages using "Markov chains" that have been trained by Homestuck's text and dialog.</p>
		<p>You can share these generated pages by sharing the created link and vote the better pages up to the leaderboards.</p>
		<h1 style="text-align: center;"><a href="{% url "generate" %}">Generate a page!</a></h1>
		<h2 style="text-align: center;"><a href="{% url "latest_entries" %}">Check the latest pages</a></h2>
		<hr>
		<h3>Leaderboards</h3>
		<!-- All time -->
		<div class="leaderboard-table">
			<h4>All time</h4>
			<table>
				<thead>
					<tr>
						<th>Title</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{% for entry in alltime_leaderboards %}
					<tr>
						<td><a href="{% url "view_page" entry.char_id %}">{{ entry.title }}</a></td>
						<td>{{ entry.score }}</td>
					</tr>
					{% endfor %}
					{% if not alltime_leaderboards %}
					<p>No pages posted. Ever.</p>
					{% endif %}
				</tbody>
			</table>
		</div>
		<!-- Last month -->
		<div class="leaderboard-table">
			<h4>Last month</h4>
			<table>
				<thead>
					<tr>
						<th>Title</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{% for entry in last_month_leaderboards %}
					<tr>
						<td><a href="{% url "view_page" entry.char_id %}">{{ entry.title }}</a></td>
						<td>{{ entry.score }}</td>
					</tr>
					{% endfor %}
					{% if not last_month_leaderboards %}
					<p>No pages posted during the last month.</p>
					{% endif %}
				</tbody>
			</table>
		</div>
		<!-- Last week -->
		<div class="leaderboard-table">
			<h4>Last week</h4>
			<table>
				<thead>
					<tr>
						<th>Title</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{% for entry in last_week_leaderboards %}
					<tr>
						<td><a href="{% url "view_page" entry.char_id %}">{{ entry.title }}</a></td>
						<td>{{ entry.score }}</td>
					</tr>
					{% endfor %}
					{% if not last_week_leaderboards %}
					<p>No pages posted during the last week.</p>
					{% endif %}
				</tbody>
			</table>
		</div>
		<!-- Last 24 hours -->
		<div class="leaderboard-table">
			<h4>Last 24 hours</h4>
			<table>
				<thead>
					<tr>
						<th>Title</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{% for entry in last_day_leaderboards %}
					<tr>
						<td><a href="{% url "view_page" entry.char_id %}">{{ entry.title }}</a></td>
						<td>{{ entry.score }}</td>
					</tr>
					{% endfor %}
					{% if not last_day_leaderboards %}
					<p>No pages posted during the last 24 hours.</p>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}